node_modules/
fastapi_raglite/.flashrank_cache/
*/node_modules/
*/*/node_modules/
dist/
.env
*.log
.DS_Store
tasks/
package-lock.json
.qllmrc.yaml
.qllmrc.yaml*
dist
*.tsbuildinfo
coverage
.aider*
.obsidian
